body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#main-page-background {
    height: 100vh;
    width: 100vw;
    background-color: rgb(200, 215, 214);
    /* background: linear-gradient(to top left, #f3f3f3 15%, rgba(255, 153, 150, 0) 60%, #80D0C7), linear-gradient(to top right, #92d4ff, rgba(255, 153, 150, 0), #76bfb8) #85bffa; */
    overflow: hidden;
}

#main-page-area {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 90%;
    min-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.login-button, 
.registration-button, 
#login-submit-button, 
#create-new-account-button,
#google-login {
    background-color: #779b9a;
    border: none;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    color: white;
    z-index: 2;
}

.login-button:hover, 
.registration-button:hover, 
#login-submit-button:hover, 
#create-new-account-button:hover,
#google-login:hover {
    background-color: #3a3a3a;
}

.lead {
    z-index: 1;
}

.lead h4 {
    color: gray;
    z-index: 1;
}

.lead h1 {
    font-size: 100px;
    z-index: 1;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 200px;
}

.logo {
    position: absolute;
    top: 53.5%;
    left: 51%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
    z-index: 0;
}

.logo img {
    width: 700px;
}